{% extends 'main.html' %}
{% block content %}
  {% load FreeBoard_filter %}
  {% load static %}

  <!-- ##### Breadcumb Area Start ##### -->
  <div class="breadcumb-area" style="background-color: black;">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcumb-content text-center ">
            <h3 class="text-light"> gma...           </h3>
            <div style="overflow-x:auto; white-space:nowrap;">
              <div class="btn-group-toggle section-padding-10 d-inline-block" data-toggle="buttons">
                <label class="btn btn-dark btn-sm active ">
                  <input type="checkbox" checked="checked" autocomplete="off">
                  상해
                </label>
              </div>
              <div class="btn-group-toggle section-padding-10 d-inline-block" data-toggle="buttons">
                <label class="btn btn-dark btn-sm active">
                  <input type="checkbox" checked="checked" autocomplete="off">
                  명예훼손
                </label>
              </div>
              <div class="btn-group-toggle section-padding-10 d-inline-block" data-toggle="buttons">
                <label class="btn btn-dark btn-sm active">
                  <input type="checkbox" checked="checked" autocomplete="off">
                  학교
                </label>
              </div>
              <div class="btn-group-toggle section-padding-10 d-inline-block" data-toggle="buttons">
                <label class="btn btn-dark btn-sm active">
                  <input type="checkbox" checked="checked" autocomplete="off">
                  가능한가요?
                </label>
              </div>
              <div class="btn-group-toggle section-padding-10 d-inline-block" data-toggle="buttons">
                <label class="btn btn-dark btn-sm active">
                  <input type="checkbox" checked="checked" autocomplete="off">
                  입혔다.
                </label>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### Breadcumb Area End ##### -->

  <!-- ##### Blog Wrapper Start ##### -->
  <div class="blog-wrapper clearfix">

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-9">

          <div class="mt-50"></div>

          <!-- 판례 시작-->
          <div class="single-blog-area blog-style-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1000ms">
            <div class="container">
              <div class="row justify-content-between">
                <div>
                  <span class="col-1 bg-danger text-white" style="font-weight:bold; border-radius: 2px">형사</span>
                  <span class="m-0 h6">명예훼손(일부예비적죄명:모욕)·저작권법위반</span>
                </div>
                <div>
                  <a href="#" data-toggle="tooltip" data-placement="bottom" class="col align-self-end" title="원심판결을 파기하고, 사건을 수원지방법원 본원 합의부에 환송한다.">주문</a>
                </div>
              </div>
              <p style="font-weight:bold; margin:0 0 15px 0; color : rgb(57, 95, 223);">대법원 2014.09.04 선고 2012도13718 판결</p>
              <p style="max-height: 60px; overflow:hidden; margin:15px">[1] 우리 헌법이 종교의 자유를 보장함으로써 보호하고자 하는 것은 종교 자체나 종교가 신봉하는 신앙의 대상이 아니라, 종교를 신봉하는 국민, 즉 신앙인이고, 종교에 대한 비판은 성질상 어느 정도의 편견과 자극적인 표현을 수반하게 되는 경우가 많으므로, 타 종교의 신앙의 대상에 대한 모욕이 곧바로 그 신앙의 대상을 신봉하는 종교단체나 신도들에 대한 명예훼손이 되는 것은 아니고, 종교적 목적을 위한 언론·출판의 자유를 행사하는 과정에서 타 종교의 신앙의 대상을 우스꽝스럽게 묘사하거나 다소 모욕적이고 불쾌하게 느껴지는 표현을 사용하였더라도 그것이 그 종교를 신봉하는 신도들에 대한 증오의 감정을 드러내는 것이거나 그 자체로 폭행·협박 등을 유발할 우려가 있는 정도가 아닌 이상 허용된다고 보아야 한다.</p>
              <p>15 응답</p>
            </div>
            <hr>
          </div>
          <!-- 판례 끝-->

          <!-- 판례 시작-->
          <div class="single-blog-area blog-style-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1000ms">
            <div class="container">
              <div class="row justify-content-between">
                <div>
                  <span class="col-1 bg-danger text-white" style="font-weight:bold; border-radius: 2px">형사</span>
                  <span class="m-0 h6">명예훼손(일부예비적죄명:모욕)·저작권법위반</span>
                </div>
                <div>
                  <a href="#" data-toggle="tooltip" data-placement="bottom" class="col align-self-end" title="원심판결을 파기하고, 사건을 수원지방법원 본원 합의부에 환송한다.">주문</a>
                </div>
              </div>
              <p style="font-weight:bold; margin:0 0 15px 0; color : rgb(57, 95, 223);">대법원 2014.09.04 선고 2012도13718 판결</p>
              <p style="max-height: 60px; overflow:hidden; margin:15px">[1] 우리 헌법이 종교의 자유를 보장함으로써 보호하고자 하는 것은 종교 자체나 종교가 신봉하는 신앙의 대상이 아니라, 종교를 신봉하는 국민, 즉 신앙인이고, 종교에 대한 비판은 성질상 어느 정도의 편견과 자극적인 표현을 수반하게 되는 경우가 많으므로, 타 종교의 신앙의 대상에 대한 모욕이 곧바로 그 신앙의 대상을 신봉하는 종교단체나 신도들에 대한 명예훼손이 되는 것은 아니고, 종교적 목적을 위한 언론·출판의 자유를 행사하는 과정에서 타 종교의 신앙의 대상을 우스꽝스럽게 묘사하거나 다소 모욕적이고 불쾌하게 느껴지는 표현을 사용하였더라도 그것이 그 종교를 신봉하는 신도들에 대한 증오의 감정을 드러내는 것이거나 그 자체로 폭행·협박 등을 유발할 우려가 있는 정도가 아닌 이상 허용된다고 보아야 한다.</p>
              <p>15 응답</p>
            </div>
            <hr>
          </div>
          <!-- 판례 끝-->

          <!-- 판례 시작-->
          <div class="single-blog-area blog-style-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1000ms">
            <div class="container">
              <div class="row justify-content-between">
                <div>
                  <span class="col-1 bg-danger text-white" style="font-weight:bold; border-radius: 2px">형사</span>
                  <span class="m-0 h6">명예훼손(일부예비적죄명:모욕)·저작권법위반</span>
                </div>
                <div>
                  <a href="#" data-toggle="tooltip" data-placement="bottom" class="col align-self-end" title="원심판결을 파기하고, 사건을 수원지방법원 본원 합의부에 환송한다.">주문</a>
                </div>
              </div>
              <p style="font-weight:bold; margin:0 0 15px 0; color : rgb(57, 95, 223);">대법원 2014.09.04 선고 2012도13718 판결</p>
              <p style="max-height: 60px; overflow:hidden; margin:15px">[1] 우리 헌법이 종교의 자유를 보장함으로써 보호하고자 하는 것은 종교 자체나 종교가 신봉하는 신앙의 대상이 아니라, 종교를 신봉하는 국민, 즉 신앙인이고, 종교에 대한 비판은 성질상 어느 정도의 편견과 자극적인 표현을 수반하게 되는 경우가 많으므로, 타 종교의 신앙의 대상에 대한 모욕이 곧바로 그 신앙의 대상을 신봉하는 종교단체나 신도들에 대한 명예훼손이 되는 것은 아니고, 종교적 목적을 위한 언론·출판의 자유를 행사하는 과정에서 타 종교의 신앙의 대상을 우스꽝스럽게 묘사하거나 다소 모욕적이고 불쾌하게 느껴지는 표현을 사용하였더라도 그것이 그 종교를 신봉하는 신도들에 대한 증오의 감정을 드러내는 것이거나 그 자체로 폭행·협박 등을 유발할 우려가 있는 정도가 아닌 이상 허용된다고 보아야 한다.</p>
              <p>15 응답</p>
            </div>
            <hr>
          </div>
          <!-- 판례 끝-->

        </div>

        <!-- ##### Sidebar Area ##### -->
        <div class="col-12 col-md-4 col-lg-3  border">

          <div class="mt-50"></div>

          <div class="post-sidebar-area">

            <div class="row" style="overflow-x: auto; white-space : nowrap;">
              <div class="col-12 mb-10">
                <a href="#" class="text-center ">
                  <div style="font-weight:bold; border-radius: 2px; background-color: #454545 ; color: white">
                    전체보기</div>
                  <div>1643</div>
                </a>
              </div>
              <div class="col-6 mb-10">
                <a href="#" class="text-center">
                  <div style="font-weight:bold; border-radius: 2px; background-color: #DC143C ; color: white">
                    형사</div>
                  <div>1643</div>
                </a>
              </div>
              <div class="col-6 mb-10">
                <a href="#" class="text-center ">
                  <div style="font-weight:bold; border-radius: 2px; background-color: 	#FF8C00 ; color: white">
                    민사</div>
                  <div>1643</div>
                </a>
              </div>
              <div class="col-6 mb-10">
                <a href="#" class="text-center">
                  <div style="font-weight:bold; border-radius: 2px; background-color: 	#6A5ACD  ; color: white">
                    행정</div>
                  <div>1643</div>
                </a>
              </div>
              <div class="col-6 mb-10">
                <a href="#" class="text-center">
                  <div style="font-weight:bold; border-radius: 2px; background-color: 	#FF1493 ; color: white">
                    가정</div>
                  <div>1643</div>
                </a>
              </div>
              <div class="col-6 mb-10">
                <a href="#" class="text-center">
                  <div style="font-weight:bold; border-radius: 2px; background-color: #008000; color: white">
                    노동</div>
                  <div>1643</div>
                </a>
              </div>
              <div class="col-6 mb-10">
                <a href="#" class="text-center">
                  <div style="font-weight:bold; border-radius: 2px; background-color: #BA55D3; color: white">
                    헌법</div>
                  <div>1643</div>
                </a>
              </div>
            </div>

            <!-- Widget Area -->
            <div class="sidebar-widget-area section-padding-15 mb-15">
              <form action="#">
                <div class="col-12 row m-0">
                  <input class="col-10" type="search" name="search" placeholder="검색하기" style="border: none;">
                  <a class="col-2 text-center" href="javascript:f.submit();">
                    <i data-feather="search"></i>
                  </a>
                </div>
                <hr class="m-0">
              </form>
            </div>

            <!-- Widget Area -->
            <div class="sidebar-widget-area">
              <h5 class="mb-15 text-center">최근 댓글 판례</h5>

              <div class="widget-content">

                <!-- 최근댓글 시작 -->
                <div class="col-12">
                  <!-- Post Content -->
                  <div style="font-size:small; color: #808080;">민사</div>
                  <div class="text-center" style="overflow-y: auto; max-height: 48px; ">허구의 인물 명예훼손 사례
                  </div>
                  <hr class="mt-0">
                </div>
                <!-- 최근댓글 끝 -->

                <!-- 최근댓글 시작 -->
                <div class="col-12">
                  <!-- Post Content -->
                  <div style="font-size:small; color: #808080;">민사</div>
                  <div class="text-center" style="overflow-y: auto; max-height: 48px; ">허구의 인물 명예훼손 사례
                  </div>
                  <hr class="mt-0">
                </div>
                <!-- 최근댓글 끝 -->

                <!-- 최근댓글 시작 -->
                <div class="col-12">
                  <!-- Post Content -->
                  <div style="font-size:small; color: #808080;">민사</div>
                  <div class="text-center" style="overflow-y: auto; max-height: 48px; ">허구의 인물 명예훼손 사례
                  </div>
                  <hr class="mt-0">
                </div>
                <!-- 최근댓글 끝 -->

              </div>

            </div>
          </div>

          <!-- Widget Area -->
          <div class="sidebar-widget-area">
            <h5 class="title">Tags</h5>
            <div class="widget-content">
              <ul class="tags">
                <li>
                  <a href="#">design</a>
                </li>
                <li>
                  <a href="#">fashion</a>
                </li>
                <li>
                  <a href="#">travel</a>
                </li>
                <li>
                  <a href="#">music</a>
                </li>
                <li>
                  <a href="#">party</a>
                </li>
                <li>
                  <a href="#">video</a>
                </li>
                <li>
                  <a href="#">photography</a>
                </li>
                <li>
                  <a href="#">adventure</a>
                </li>
              </ul>
            </div>
          </div>

          <!-- Widget Area -->
          <div class="sidebar-widget-area">
            <h5 class="title">Advertisement</h5>
            <a href="#"><img src="img/bg-img/add.gif" alt=""></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Blog Wrapper End ##### -->
{% endblock %}
