{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>LOGOS - 모두가 사용할 수 있는 법률 커뮤니티</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  </head>

  <body>
    <!-- Preloader -->
    <div id='setloader'>

      <div id="preloader">
        <div class="preload-content">
          <div id="original-load"></div>
        </div>
      </div>

    </div>

    <!-- Subscribe Modal -->
    <div class="subscribe-newsletter-area">
      <div class="modal fade bd-example-modal-lg" id="subsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
          <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
              <h5 class="title text-center">LOGOS 서비스 이용방법</h5>
              <h6 class="text-center">저희 LOGOS 서비스를 이용해 주셔서 감사합니다.</h6>
              <p>LOGOS는 일반인들이 쉽게 접근할 수 없는 법률 정보를 제공하고 더욱 나아가 커뮤니티 형성 및 업무의 지원을 목표로 하고 있습니다.</p>
              <h6>서비스 지원</h6>
              <div class="single-hero-slide bg-img" style="background-image: url({% static 'img/bg-img/bg7.jpg'%});height:400px;"></div>
              <p>판례 검색 기능</p>
            </div>
          </div>
        </div>
      </div>

      <!-- ##### Header Area Start ##### -->
      <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
          <div class="container h-100">
            <div class="row h-100 align-items-center">

              <!-- Breaking News Area -->
              <div class="col-lg-4 col-12">
                <div class="breaking-news-area">
                  <div id="breakingNewsTicker" class="ticker">
                    <ul>
                      <li>
                        <a href="{% url 'MainBoard:lifepost' %}">생활 법률 정보</a>
                      </li>
                      <li>
                        <a href="{% url 'Logos:userinput' %}">판례 검색 기능</a>
                      </li>
                      <li>
                        <a href="{% url 'FreeBoard:qna' %}">질의응답 작성</a>
                      </li>
                      <li>
                        <a href="{% url 'MainBoard:dictionary' %}">법률용어 사전</a>
                      </li>
                      <li>
                        <a href="{% url 'MainBoard:keyword' %}">키워드 분석 통계</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Top Social Area -->
              <div class="col-lg-8 col-12">
                <div class="top-social-area">
                  {% if user.is_authenticated %}
                    <div class="row justify-content-end">
                      <div style="margin:5px 12px 0 12px">{{ user.last_name }}님 환영합니다</div>
                      <div style="margin:0 12px 0 12px">
                        <a class="btn btn-dark btn-sm " href="{% url 'MainBoard:mypage' %}" style="color:white">마이페이지</a>
                      </div>
                      <div style="margin:0 12px 0 12px">
                        <a class="btn btn-dark btn-sm " href="{% url 'common:logout' %}" style="color:white">로그아웃</a>
                      </div>
                    </div>
                  {% else %}
                    <div class="row justify-content-end">
                      <div style="margin:0 12px 0 12px">
                        <a class="btn btn-dark btn-sm " href="{% url 'common:login' %}" style="color:white">로그인</a>
                      </div>
                      <div style="margin:0 12px 0 12px">
                        <a class="btn btn-dark btn-sm " href="{% url 'common:join' %}" style="color:white">회원가입</a>
                      </div>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Logo Area -->
        <div class="logo-area text-center">
          <div class="container h-100">
            <div class="row h-100 align-items-center">
              <div class="col-12">
                <a href="{% url 'MainBoard:main' %}" class="original-logo"><img src="{% static 'img/core-img/logos.png'%}" alt=""></a>
              </div>
            </div>
          </div>
        </div>

        <!-- Nav Area -->
        <div class="original-nav-area" id="stickyNav">
          <div class="classy-nav-container breakpoint-off">
            <div class="container">
              <!-- Classy Menu -->
              <nav class="classy-navbar justify-content-between">

                <!-- Subscribe btn -->
                <div class="subscribe-btn">
                  <a href="#" class="btn subscribe-btn" data-toggle="modal" data-target="#subsModal">서비스 이용 방법</a>
                </div>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                  <span class="navbarToggler">
                    <span></span>
                    <span></span>
                    <span></span>
                  </span>
                </div>

                <!-- Menu -->
                <div class="classy-menu" id="originalNav">
                  <!-- close btn -->
                  <div class="classycloseIcon">
                    <div class="cross-wrap">
                      <span class="top"></span>
                      <span class="bottom"></span></div>
                  </div>

                  <!-- Nav Start -->
                  <div class="classynav">

                    <ul>
                      <li>
                        <a href="{% url 'index' %}">광장</a>
                      </li>
                      <li>
                        <a href="{% url 'Logos:userinput' %}">검색기능</a>
                      </li>
                      <li>

                      <li>
                        <a href="{% url 'FreeBoard:free' %}">자유광장</a>
                      </li>
                      <li>
                        <a href="{% url 'FreeBoard:qna' %}">질문및답변</a>
                      </li>
                      <li>
                        <a href="{% url 'MainBoard:lifepost' %}">생활 법률</a>
                      </li>

                      <li>
                        <a href="#">사이트 정보</a>
                        <ul class="dropdown">
                          <li>
                            <a href="{% url 'MainBoard:status' %}">사이트 통계</a>
                          </li>
                          <li>
                            <a href="{% url 'MainBoard:keyword' %}">검색 키워드</a>
                          </li>
                          <li>
                            <a href="{% url 'MainBoard:dictionary' %}">법률사전</a>
                          </li>
                        </ul>
                      </li>

                    </ul>

                  </div>
                  <!-- Nav End -->
                </div>
              </nav>
            </div>
          </div>
        </div>
      </header>
      <!-- ##### Header Area End ##### -->
      {% block content %}{% endblock %}
      <!-- 기본 템플릿 안에 삽입될 내용 End -->

      <!-- ##### Cool Facts Area Start ##### -->
      <div class="cool-facts-area section-padding-100-0 bg-img background-overlay" style="background-image: url({% static 'img/bg-img/bg5.jpg'%});">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="single-blog-area blog-style-2 text-center mb-100">
                <!-- Blog Content -->
                <div class="single-blog-content">
                  <div class="line"></div>
                  <a href="{% url 'MainBoard:status' %}" class="post-tag">서비스</a>
                  <h4>
                    <a href="{% url 'MainBoard:status' %}" class="post-headline">인공지능 판례검색 시스템 Logos</a>
                  </h4>
                  <p>일반인들도 쉽게 법에 접근 할 수 있도록 서비스를 제공하고 있습니다. 자신의 상황의 판례를 알고 싶으신가요? 아니면 다른사람들과 이야기를 나누어 보고 싶으신가요? 저희 Logos에서 해결해보세요</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Single Cool Facts Area -->
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="single-cool-facts-area text-center mb-100">
                <h2>
                  <span class="counter">65147</span></h2>
                <p>보유 판례</p>
              </div>
            </div>
            <!-- Single Cool Facts Area -->
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="single-cool-facts-area text-center mb-100">
                <h2>
                  <span class="counter">3.2</span>K</h2>
                <p>인공지능 학습량</p>
              </div>
            </div>
            <!-- Single Cool Facts Area -->
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="single-cool-facts-area text-center mb-100">
                <h2>
                  <span class="counter">21</span></h2>
                <p>22.02.25일 신규 판례  </p>
              </div>
            </div>
            <!-- Single Cool Facts Area -->
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="single-cool-facts-area text-center mb-100">
                <h2>
                  <span class="counter">16</span></h2>
                <p>변호사 인증 인원</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ##### Cool Facts Area End ##### -->

      <!-- ##### Footer Area Start ##### -->
      <footer class="footer-area text-center">
        <div class="container">
          <div class="row">
            <div class="col-12">

              <!-- Footer Nav Area -->
              <div class="classy-nav-container breakpoint-off">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-center">

                  <!-- Navbar Toggler -->
                  <div class="classy-navbar-toggler">
                    <span class="navbarToggler">
                      <span></span>
                      <span></span>
                      <span></span></span>
                  </div>

                  <!-- Menu -->
                  <div class="classy-menu">

                    <!-- close btn -->
                    <div class="classycloseIcon">
                      <div class="cross-wrap">
                        <span class="top"></span>
                        <span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                      <ul>
                        <li>
                          <a href="{% url 'MainBoard:lifepost' %}">생활 법률 정보</a>
                        </li>
                        <li>
                          <a href="{% url 'Logos:userinput' %}">판례 검색 기능</a>
                        </li>
                        <li>
                          <a href="{% url 'FreeBoard:qna' %}">질의응답 작성</a>
                        </li>
                        <li>
                          <a href="{% url 'MainBoard:dictionary' %}">법률용어 사전</a>
                        </li>
                        <li>
                          <a href="{% url 'MainBoard:keyword' %}">키워드 분석 통계</a>
                        </li>
                      </ul>
                    </div>
                    <!-- Nav End -->
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      킹조 프로젝트 : AI기반 사용자입력 판례 매칭 서비스
      <script>
        document.write(new Date().getFullYear());
      </script>

    </footer>
  </body>

</html>
<!-- ##### Footer Area End ##### -->
<!-- jQuery (Necessary for All JavaScript Plugins) -->

  <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'js/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- Plugins js -->
  <script src="{% static 'js/plugins.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'js/active.js' %}"></script>
  <!-- 자바스크립트 Start -->
  {% block script %}{% endblock %}
  <!-- 자바스크립트 End -->

