{% extends 'main.html' %}
{% load MainBoard_filter %}
{% block content %}
  {% load static %}

  <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/hierarchy.js"></script>
  <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

  <!-- ##### Breadcumb Area Start ##### -->
  <div class="breadcumb-area bg-img" style="background-image: url({% static 'img/bg-img/bg3.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcumb-content text-center">
            <h2>사이트 통계</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### Breadcumb Area End ##### -->

  <!-- ##### Blog Wrapper Start ##### -->
  <div class="blog-wrapper clearfix" style="padding: 50px 0 50px 0;">
    <div class="container">
      <!--con-->

      <div class="row mt-3">

        <!--4칸 시작-->
        <div class="col-lg-3 col-12">
          <div class="card mb-15">
            <div class="card-body">
              <h4 class="card-title">키워드 검색량</h4>
              <div class="row">

                <table class="col-12 mt-15 table-sm">
                  <tbody>
                    <thead class="thead-dark">
                      <tr>
                        <th class="col-4 text-center" scope="col">순위</th>
                        <th class="col-8 text-center" scope="col">키워드</th>
                      </tr>
                    </thead>
                    <tr>
                      <td class="text-center">1</td>
                      <td class="text-center">search</td>
                    </tr>
                    <tr>
                      <td class="text-center">2</td>
                      <td class="text-center">real</td>
                    </tr>
                    <tr>
                      <td class="text-center">3</td>
                      <td class="text-center">Objects</td>
                    </tr>
                    <tr>
                      <td class="text-center">4</td>
                      <td class="text-center">illegal</td>
                    </tr>
                    <tr>
                      <td class="text-center">5</td>
                      <td class="text-center">Study</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
        <!--4칸 끝-->

        <!--8칸 시작-->
        <div class="col-lg-9 col-12">
          <div class="card mb-15">
            <div class="card-body">

              <h4 class="card-title">최근 검색 내역</h4>

              <table class="col-12 mt-15 table">
                <tbody>
                  <thead class="thead-dark">
                    <tr>
                      <th class="col-6">검색내용</th>
                      <th class="col-6">키워드</th>
                    </tr>
                  </thead>
                  {% for log in log_top %}
                  <tr>
                    <td >{{log.content}}</td>
                    <td >{{log.keyword}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

            </div>
          </div>
        </div>
        <!--8칸 끝-->

      </div>

      <div class="row mt-3">
        <!--3칸 시작 -->
        <div class="col-lg-3 col-12">
          <div class="row">
            <div class="col-12 ">
              <div class="card mb-15">
                <div class="card-body">
                  <h4 class="card-title">월 방문자 수</h4>
                  <p>지날 달 대비 23% 증가</p>
                  <h4 class="text-dark font-weight-bold mb-2">328</h4>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card mb-15">
                <div class="card-body">
                  <h4 class="card-title">월 검색 량</h4>
                  <p>지난달 대비 6% 증가 </p>
                  <h4 class="text-dark font-weight-bold mb-2">{{1633|add:log_list.count}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--3칸 끝 -->
        <!--9칸 시작-->
        <div class="col-lg-9 col-12">
          <div class="card mb-15">
            <div class="card-body">
              <h4 class="card-title">검색량 차트</h4>
              <div class="row">
                <div class="col-lg-5">
                  <p>일별 방문자 수와 검색량의 값
                  </p>
                </div>
                <div class="col-lg-7">
                  <div class="chart-legends d-lg-block d-none" id="chart-legends"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div id="chartdiv" style=" width: 100%;height: 500px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--9칸 끝-->
      </div>

      

      <div class="row mt-3">

        <!--4칸 시작-->
        <div class="col-lg-4 col-12">
          <div class="card mb-15">
            <div class="card-body">
              <h4 class="card-title">등급 분포도</h4>
              <div id="Rate" style="height:200px">
                
              </div>
            </div>
          </div>
        </div>
        <!--4칸 끝-->

        


        
        <!--4칸 시작-->
        <div class="col-lg-4 col-12">
          <div class="card mb-15">
            <div class="card-body">
              <h4 class="card-title">남여 성비</h4>
              <div id="gender" style="height:200px">
                
              </div>
            </div>
          </div>
        </div>
        <!--4칸 끝-->
        
        <!--4칸 시작-->
        <div class="col-lg-4 col-12">
          <div class="card mb-15">
            <div class="card-body">
              <h4 class="card-title">이용자 나이</h4>
              <div id="ages" style="height:200px">
                
              </div>
            </div>
          </div>
        </div>
        <!--4칸 끝-->


      </div>


      <!--con-->
    </div>
  </div>
  <!-- ##### Blog Wrapper End ##### -->
{% endblock %}
{% block script %}
  <!--방문자 + 검색량 시작 -->
  <script>
    am5.ready(function () {

      // Create root element
      // https://www.amcharts.com/docs/v5/getting-started/#Root_element
      var root = am5
        .Root
        .new("chartdiv");

      // Set themes
      // https://www.amcharts.com/docs/v5/concepts/themes/
      root.setThemes([am5themes_Animated.new(root)]);

      // Create chart
      // https://www.amcharts.com/docs/v5/charts/xy-chart/
      var chart = root
        .container
        .children
        .push(am5xy.XYChart.new(root, {
          panX: false,
          panY: false,
          wheelX: "panX",
          wheelY: "zoomX",
          layout: root.verticalLayout
        }));

      // Add scrollbar
      // https://www.amcharts.com/docs/v5/charts/xy-chart/scrollbars/
      chart.set("scrollbarX", am5.Scrollbar.new(root, {orientation: "horizontal"}));

      var data = [
        {
          day: "2022-02-20",
          income: 24,
          expenses: 21
        }, {
          day: "2022-02-21",
          income: 26,
          expenses: 30
        }, {
          day: "2022-02-22",
          income: 30,
          expenses: 35
        }, {
          day: "2022-02-23",
          income: 30,
          expenses: 31
        }, {
          day: "2022-02-24",
          income: 31,
          expenses: 29,
          strokeSettings: {
            stroke: chart
              .get("colors")
              .getIndex(1),
            strokeWidth: 3,
            strokeDasharray: [5, 5]
          }
        }, {
          day: "2022-02-25",
          income: 35,
          expenses: parseInt("{{33|add:log_list.count}}"),
          columnSettings: {
            strokeWidth: 1,
            strokeDasharray: [5],
            fillOpacity: 0.2
          },
          info: "(projection)"
        }
      ];

      // Create axes
      // https://www.amcharts.com/docs/v5/charts/xy-chart/axes/
      var xAxis = chart
        .xAxes
        .push(am5xy.CategoryAxis.new(root, {
          categoryField: "day",
          renderer: am5xy
            .AxisRendererX
            .new(root, {}),
          tooltip: am5
            .Tooltip
            .new(root, {})
        }));

      xAxis
        .data
        .setAll(data);

      var yAxis = chart
        .yAxes
        .push(am5xy.ValueAxis.new(root, {
          min: 0,
          extraMax: 0.1,
          renderer: am5xy
            .AxisRendererY
            .new(root, {})
        }));

      // Add series
      // https://www.amcharts.com/docs/v5/charts/xy-chart/series/

      var series1 = chart
        .series
        .push(am5xy.ColumnSeries.new(root, {
          name: "일일 방문자 수",
          xAxis: xAxis,
          yAxis: yAxis,
          valueYField: "income",
          categoryXField: "day",
          tooltip: am5
            .Tooltip
            .new(root, {
              pointerOrientation: "horizontal",
              labelText: "{name} in {categoryX}: {valueY} {info}"
            })
        }));

      series1
        .columns
        .template
        .setAll({tooltipY: am5.percent(10), templateField: "columnSettings"});

      series1
        .data
        .setAll(data);

      var series2 = chart
        .series
        .push(am5xy.LineSeries.new(root, {
          name: "일일 검색량",
          xAxis: xAxis,
          yAxis: yAxis,
          valueYField: "expenses",
          categoryXField: "day",
          tooltip: am5
            .Tooltip
            .new(root, {
              pointerOrientation: "horizontal",
              labelText: "{name} in {categoryX}: {valueY} {info}"
            })
        }));

      series2
        .strokes
        .template
        .setAll({strokeWidth: 3, templateField: "strokeSettings"});

      series2
        .data
        .setAll(data);

      series2
        .bullets
        .push(function () {
          return am5
            .Bullet
            .new(root, {
              sprite: am5
                .Circle
                .new(root, {
                  strokeWidth: 3,
                  stroke: series2.get("stroke"),
                  radius: 5,
                  fill: root
                    .interfaceColors
                    .get("background")
                })
            });
        });

      chart.set("cursor", am5xy.XYCursor.new(root, {}));

      // Add legend
      // https://www.amcharts.com/docs/v5/charts/xy-chart/legend-xy-series/
      var legend = chart
        .children
        .push(am5.Legend.new(root, {
          centerX: am5.p50,
          x: am5.p50
        }));
      legend
        .data
        .setAll(chart.series.values);

      // Make stuff animate on load
      // https://www.amcharts.com/docs/v5/concepts/animations/
      chart.appear(1000, 100);
      series1.appear();

    }); // end am5.ready()
  </script>
  <!--방문자 + 검색량 끝 -->


  <script>



    am5.ready(function() {
    
    // Create root element
    // https://www.amcharts.com/docs/v5/getting-started/#Root_element
    var root = am5.Root.new("gender");
    
    
    // Set themes
    // https://www.amcharts.com/docs/v5/concepts/themes/
    root.setThemes([
      am5themes_Animated.new(root)
    ]);
    
    
    // Create chart
    // https://www.amcharts.com/docs/v5/charts/percent-charts/sliced-chart/
    var chart = root.container.children.push(am5percent.SlicedChart.new(root, {
      layout: root.verticalLayout
    }));
    
    
    // Create series
    // https://www.amcharts.com/docs/v5/charts/percent-charts/sliced-chart/#Series
    var series = chart.series.push(am5percent.PictorialStackedSeries.new(root, {
      alignLabels: true,
      orientation: "vertical",
      valueField: "value",
      categoryField: "category",
      svgPath: "M53.5,476c0,14,6.833,21,20.5,21s20.5-7,20.5-21V287h21v189c0,14,6.834,21,20.5,21 c13.667,0,20.5-7,20.5-21V154h10v116c0,7.334,2.5,12.667,7.5,16s10.167,3.333,15.5,0s8-8.667,8-16V145c0-13.334-4.5-23.667-13.5-31 s-21.5-11-37.5-11h-82c-15.333,0-27.833,3.333-37.5,10s-14.5,17-14.5,31v133c0,6,2.667,10.333,8,13s10.5,2.667,15.5,0s7.5-7,7.5-13 V154h10V476 M61.5,42.5c0,11.667,4.167,21.667,12.5,30S92.333,85,104,85s21.667-4.167,30-12.5S146.5,54,146.5,42 c0-11.335-4.167-21.168-12.5-29.5C125.667,4.167,115.667,0,104,0S82.333,4.167,74,12.5S61.5,30.833,61.5,42.5z"
    }));
    
    series.labelsContainer.set("width", 100);
    series.ticks.template.set("location", 0.6);
    
    
    // Set data
    // https://www.amcharts.com/docs/v5/charts/percent-charts/sliced-chart/#Setting_data
    series.data.setAll([
      { value: 10, category: "Men" },
      { value: 9, category: "Women" }
    ]);
    
    
    // Play initial series animation
    // https://www.amcharts.com/docs/v5/concepts/animations/#Animation_of_series
    chart.appear(1000, 100);
    
    }); // end am5.ready()
  </script>

  <script>
    am5.ready(function() {
    
    // Create root element
    // https://www.amcharts.com/docs/v5/getting-started/#Root_element
    var root = am5.Root.new("Rate");
    
    // Set themes
    // https://www.amcharts.com/docs/v5/concepts/themes/
    root.setThemes([
      am5themes_Animated.new(root)
    ]);
    
    // Create chart
    // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
    var chart = root.container.children.push(
      am5percent.PieChart.new(root, {
        endAngle: 270
      })
    );
    
    // Create series
    // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Series
    var series = chart.series.push(
      am5percent.PieSeries.new(root, {
        valueField: "value",
        categoryField: "category",
        endAngle: 270
      })
    );

    
    series.states.create("hidden", {
      endAngle: -90
    });
    
    // Set data
    // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Setting_data
    series.data.setAll([{
      category: "일문",
      value: 501
    }, {
      category: "일항",
      value: 301
    }, {
      category: "일조",
      value: 201
    }, {
      category: "일총",
      value: 165
    }, {
      category: "일법",
      value: 139
    }
  ]);

  series.labels.template.setAll({
    text: "{category}",
    textType: "radial",
    centerX: am5.percent(100)
  });
    
    series.appear(1000, 100);
    
    }); // end am5.ready()
    </script>

    <script>
      am5.ready(function() {
      
      // Create root element
      // https://www.amcharts.com/docs/v5/getting-started/#Root_element
      var root = am5.Root.new("ages");
      
      // Set themes
      // https://www.amcharts.com/docs/v5/concepts/themes/
      root.setThemes([
        am5themes_Animated.new(root)
      ]);
      
      // Create chart
      // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
      var chart = root.container.children.push(
        am5percent.PieChart.new(root, {
          endAngle: 270
        })
      );
      
      // Create series
      // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Series
      var series = chart.series.push(
        am5percent.PieSeries.new(root, {
          valueField: "value",
          categoryField: "category",
          endAngle: 270
        })
      );
  
      
      series.states.create("hidden", {
        endAngle: -90
      });
      
      // Set data
      // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Setting_data
      series.data.setAll([{
        category: "10대",
        value: 501
      }, {
        category: "20대",
        value: 301
      }, {
        category: "30대",
        value: 201
      }, {
        category: "40대",
        value: 165
      }, {
        category: "50대",
        value: 139
      }
    ]);
  
    series.labels.template.setAll({
      text: "{category}",
      textType: "radial",
      centerX: am5.percent(100)
    });
      
      series.appear(1000, 100);
      
      }); // end am5.ready()
      </script>

{% endblock %}
