{% extends 'main.html' %}
{% block content %}
{% load FreeBoard_filter %}
{% load static %}



  <!-- ##### Breadcumb Area Start ##### -->
  <div class="breadcumb-area" style="background-color: black;">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcumb-content text-center ">
            <h3 class="text-light">{{context}}
            </h3>
            <div style="overflow-x:auto; white-space:nowrap;">
              {% for i in brother %}
              <div class="btn-group-toggle section-padding-10 d-inline-block" data-toggle="buttons">
                <label class="btn btn-dark btn-sm active ">
                  <input type="checkbox" checked="checked" autocomplete="off">
                  {{ i }}
                </label>
              </div>
              {% endfor %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### Breadcumb Area End ##### -->

  <!-- ##### Blog Wrapper Start ##### -->
  <div class="blog-wrapper clearfix">

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-9">

          <div class="mt-50"></div>

          <!-- 판례 시작-->
          {% for i in Summary %}
          
          <div class="single-blSummary %og-area blog-style-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="1000ms">
            <div class="container">
              <form action="{% url 'Logos:listdetail' %}" method="post">
                {% csrf_token %}
                {% include "form_errors.html" %}
                <input name="context" type="hidden" value="{{context}}">
                <input name="brother" type="hidden" value="{{brother}}">
                <input name="subject" type="hidden" value="{{i.cri_seq.cri_subj}}">
                <input name="content" type="hidden" value="{{i.cri_seq.cri_content}}">
                <input name="keyword" type="hidden" value="{{i.cri_sum_keyword}}">
                <input name="abst" type="hidden" value="{{i.cri_sum_abst}}">
                <input name="law" type="hidden" value="{{i.ref_law}}">

              <div class="row justify-content-between">
                <div class="row col-10">
                  <div class="bg-danger text-white text-center" style="font-weight:bold; border-radius: 2px;width:58px;;height:24px">형사</div>
                  <button class="col-10" type="submit" style="font-size:18px; background-color:transparent; border:None;">
                    {% autoescape off %}
                    {{i.cri_subj}}
                    {% endautoescape %}
                    
                </div>
                <div class="col-2">
                  <a href="#" data-toggle="tooltip" data-placement="bottom" class="col align-self-end" title="{{ i.cri_sum_abst|striptags }}">주문</a>
                </div>
              </div>
              <p style="font-weight:bold; margin:0 0 15px 0; color : rgb(57, 95, 223);">{{i.cri_seq.cri_subj|striptags}}</p>
              <p style="max-height: 60px; overflow:hidden; margin:15px">{{ i.cri_sum_content|striptags }}</p>
              <p>15 응답</p>
              
              </form>
            </div>
            <hr>
          </div>
          {% endfor %}
          <!-- 판례 끝-->

        </div>

        <!-- ##### Sidebar Area ##### -->
        <div class="col-12 col-md-4 col-lg-3  border">

          <div class="mt-50"></div>

          <div class="post-sidebar-area">

              <div class="row" style="overflow-x: auto; white-space : nowrap;">
                  <div class="col-12 mb-10">
                      <a href="#" class="text-center ">
                          <div
                              style="font-weight:bold; border-radius: 2px; background-color: #454545 ; color: white">
                              전체보기</div>
                          <div>2,921</div>
                      </a>
                  </div>
                  <div class="col-6 mb-10">
                      <a href="#" class="text-center">
                          <div
                              style="font-weight:bold; border-radius: 2px; background-color: #DC143C ; color: white">
                              형사</div>
                          <div>985</div>
                      </a>
                  </div>
                  <div class="col-6 mb-10">
                      <a href="#" class="text-center ">
                          <div
                              style="font-weight:bold; border-radius: 2px; background-color: 	#FF8C00 ; color: white">
                              민사</div>
                          <div>1232</div>
                      </a>
                  </div>
                  <div class="col-6 mb-10">
                      <a href="#" class="text-center">
                          <div
                              style="font-weight:bold; border-radius: 2px; background-color: 	#6A5ACD  ; color: white">
                              행정</div>
                          <div>231</div>
                      </a>
                  </div>
                  <div class="col-6 mb-10">
                      <a href="#" class="text-center">
                          <div
                              style="font-weight:bold; border-radius: 2px; background-color: 	#FF1493 ; color: white">
                              가정</div>
                          <div>337</div>
                      </a>
                  </div>
                  <div class="col-6 mb-10">
                      <a href="#" class="text-center">
                          <div
                              style="font-weight:bold; border-radius: 2px; background-color: #008000; color: white">
                              노동</div>
                          <div>128</div>
                      </a>
                  </div>
                  <div class="col-6 mb-10">
                      <a href="#" class="text-center">
                          <div
                              style="font-weight:bold; border-radius: 2px; background-color: #BA55D3; color: white">
                              헌법</div>
                          <div>8</div>
                      </a>
                  </div>
              </div>



          </div>

          <hr>

          <div class="sidebar-widget-area">
              <h5 class="title">키워드</h5>
              <div class="widget-content">
                  <ul class="tags">
                      <li><a href="{% url 'MainBoard:keywordselect' '뺑소니' %}">뺑소니</a></li>
                      <li><a href="{% url 'MainBoard:keywordselect' '임대차' %}">임대차</a></li>
                      <li><a href="{% url 'MainBoard:keywordselect' '산재보험' %}">산재보험</a></li>
                      <li><a href="{% url 'MainBoard:keywordselect' '음주운전' %}">음주운전</a></li>
                      <li><a href="{% url 'MainBoard:keywordselect' '임금' %}">임금</a></li>
                      <li><a href="{% url 'MainBoard:keywordselect' '사기' %}">사기</a></li>
                      <li><a href="{% url 'MainBoard:keywordselect' '자살' %}">자살</a></li>
                      <li><a href="{% url 'MainBoard:keywordselect' '폭행' %}">폭행</a></li>
                  </ul>
              </div>
            </div>             
             
            <!-- Widget Area -->
            <h5 class="">광고 배너</h5>
            <div class="sidebar-widget-area">
              <a href="#"><img src="{% static 'img/bg-img/add.gif' %}" alt=""></a>
            </div>

      </div>

    </div>
  </div>
</div>
<!-- ##### Blog Wrapper End ##### -->
{% endblock %}
