{% extends 'main.html' %}
{% block content %}
  {% load FreeBoard_filter %}
  {% load static %}

  <!-- ##### Breadcumb Area Start ##### -->
  <div class="bg-img" style="background-image: url({% static 'img/bg-img/bg5.jpg' %});">
    <div class="container h-100">
      <div class="row align-items-center">
        <div class="col-lg-2 col-1"></div>
        <div class="col-lg-8 col-12 search-bg mt-100 mb-100">
          <div class="text-center mt-100">
            <h1 style="color: aliceblue;  background-color: #000000;">AI 판례 검색 시스템</h1>
            <div class="text-center mt-30 mb-30">\
              <form action="{% url 'Logos:listcon' %}" method = "post">
              {% csrf_token %}
              <textarea name="input" id="input" rows="5" class="col-12" style="font-size: 24px;"></textarea>
              <input class="btn btn-dark btn-lg btn-block loadingset" id="setloading" type="submit" value="입력하기">
              </form>
            </div>
            
            <div style="color: aliceblue;  background-color: #000000; margin:50px ;border-radius:20px">
              <h4 style="color: aliceblue;">검색 방법 이렇게 하세요</h4>
              <p>자신의 상황을 설명하는 핵심 단어를 적어주세요</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-1"></div>
      </div>

    </div>
  </div>
  <!-- ##### Breadcumb Area End ##### -->
  
  <!-- ##### Blog Wrapper Start ##### -->
  <div class="blog-wrapper section-padding-100-0 clearfix">
    <div class="container">
      <div class="row align-items-start">
        <!-- Single Blog Area -->
        <div class="col-12 col-lg-4">
          <div class="single-blog-area clearfix mb-100">
            <!-- Blog Content -->
            <div class="single-blog-content">
              <div class="line"></div>
              <a href="#" class="post-tag">사용 설명서</a>
              <h4>
                <a href="#" class="post-headline">검색을 할 때에는 구체적으로 적어주세요</a>
              </h4>
              <p class="mb-3">LOGOS 판례 매칭 시스템은 문장의 단어를 키워드화 하여 판례의 키워드와 매칭해주는 서비스입니다. 판례의 키워드와 유사도가 높게 나타날수록 검색 결과가 정확해집니다. 문장의 단어를 구체적으로 적어주세요</p>
            </div>
          </div>
        </div>

                <!-- Single Blog Area -->
                <div class="col-12 col-lg-4">
                  <div class="single-blog-area clearfix mb-100">
                    <!-- Blog Content -->
                    <div class="single-blog-content">
                      <div class="line"></div>
                      <a href="#" class="post-tag">키워드 이용</a>
                      <h4>
                        <a href="#" class="post-headline">키워드를 이용한 AI의 성능향상</a>
                      </h4>
                      <p class="mb-3">LOGOS 판례 매칭 시스템은 문장의 단어를 키워드화 하여 판례의 키워드와 매칭해주는 서비스입니다. 판례의 키워드와 유사도가 높게 나타날수록 검색 결과가 정확해집니다. 문장의 단어를 구체적으로 적어주세요</p>
                    </div>
                  </div>
                </div>

        <!-- Single Blog Area -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-catagory-area clearfix mb-100">
            <img src="{% static 'img/bg-img/bg3.jpg '%}" alt="">
            <!-- Catagory Title -->
            <div class="catagory-title">
              <a href="{% url 'MainBoard:keyword' %}">키워드 통계 보기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### Blog Wrapper End ##### -->


{% endblock %}
